<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<!-- All pics are clickable -->

    <a href="/pics/about"> <img src="/img/about.jpg" alt="pic"> </a>

    <a href="/pics/bg"> <img src="/img/bg.jpg" alt="bg pic"> </a>
    <a href="/pics/carousel-1"> <img src="/img/carousel-1.jpg" alt="pic"> </a>
    <a href="/pics/carousel-2"> <img src="/img/carousel-2.jpg" alt="pic"> </a>
    <a href="/pics/menu-1"> <img src="/img/menu-1.jpg" alt="pic"> </a>
    <a href="/pics/menu-2"> <img src="/img/menu-2.jpg" alt="pic"> </a>
    <a href="/pics/menu-3"> <img src="/img/menu-3.jpg" alt="pic" > </a>
    <a href="/pics/service-1"> <img src="/img/service-1.jpg" alt="pic"> </a>
    <a href="/pics/service-2"> <img src="/img/service-2.jpg" alt="pic"> </a>
    <a href="/pics/service-3"> <img src="/img/service-3.jpg" alt="pic"> </a>
    <a href="/pics/service-4"> <img src="/img/service-4.jpg" alt="pic"> </a>
    <a href="/pics/testimonial-1"> <img src="/img/testimonial-1.jpg" alt="pic"> </a>
    <a href="/pics/testimonial-2"> <img src="/img/testimonial-2.jpg" alt="pic"> </a>
    <a href="/pics/testimonial-3"> <img src="/img/testimonial-3.jpg" alt="pic"> </a>
    <a href="/pics/testimonial-4"> <img src="/img/testimonial-4.jpg" alt="pic"> </a>

</body>

</html>